.css-dip3t8 {
    background-color: rgb(30, 30, 30) !important; /* coal-100 equivalent */
  }
  
  .ps-sidebar-root {
    background-color: rgb(30, 30, 30) !important;
  }
  
  .ps-menu-root {
    background-color: rgb(30, 30, 30) !important;
  }
  
  .ps-menu-button {
    background-color: rgb(30, 30, 30) !important;
  }
  